<html>
<head>
 <title>Door data</title>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.js" type="text/javascript"></script>
 <style type="text/css">
  body {
    font-family: sans-serif;    
  }
 </style>
</head>

<body>

<script type="text/javascript">
  var data = {{data|safe}};
</script>

<h1>{{day}}</h1>

<div style="max-width:800px; max-height:400px">
  <canvas id="myChart" width="800" height="400"></canvas>
</div>
<script>
  var ctx = document.getElementById("myChart").getContext('2d');
  var xy = data.map(function(item) { 
    return {
      x: item.time.S,
      y: item.event.S == "door_opened" ? 1 : 0,
    };
   })
  var x = new Chart(document.getElementById("myChart"), {
    type: 'line',
    data: {
        datasets: [{
          label: "Door",
          data: xy,
          steppedLine: true,
          fill: false,
          borderColor: "#3385ff",
        }]
    },
    options: {
      scales: {
        xAxes: [{
          type: 'time',
        }],
      },
    },
  });

  function redirect(days) {
    var d = new Date();
    d.setDate(d.getDate()+days);
    var month = d.getUTCMonth();
    var day = d.getUTCDate();
    var year = d.getUTCFullYear();
    window.location.href = "?day=" + year.toString() + "-" + (month+1).toString() + "-" + day.toString();
  }
</script>

<h2>Days</h2>

<ul>
  <li><a href="#" onclick="redirect(0);">today</a></li>
  <li><a href="#" onclick="redirect(-1);">-1 days from today</a></li>
  <li><a href="#" onclick="redirect(-2);">-2 days from today</a></li>
  <li><a href="#" onclick="redirect(-3);">-3 days from today</a></li>
  <li><a href="#" onclick="redirect(-4);">-4 days from today</a></li>
  <li><a href="#" onclick="redirect(-5);">-5 days from today</a></li>
  <li><a href="#" onclick="redirect(-6);">-6 days from today</a></li>
  <li><a href="#" onclick="redirect(-7);">-7 days from today</a></li>
</ul>

</body>
</html>