<html>
        <style type="text/css">
            body {
              font-family: sans-serif;    
            }
           </style>
<Title>
    Door status monitoring
</Title>
<header>
        <center><h1><b><u>Door status</u></b></h1></center>
        <div>
             <h3>  <center>The door is currently
                <b> [open/closed]</b></center>  </h3>  
        </div>
</header>
<body>
    <!--Css Styling for the table-->
    <style>
    td, th {
            border: 1px solid #000000;
            text-align: center;
            padding: 11px;
          }
          tr:nth-child(odd) {
  background-color: #00b7ff;
}
tr:nth-child(even) {
  background-color: #027eaf;}</style>
  </style>
  <!--label-->
  <center><h5>Past Usage of the door</h5></center>
  <!--The table-->
    <table>
        <tr><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td></tr>
        <tr><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td></tr>
        <tr><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td></tr>
        <tr><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td></tr>
        <tr><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td><td>[open/closed]-[date]-[time]</td></tr>
    </table>
    <!--Radio buttons for changing the view in the table-->
    <center>    <input type="radio" name="d/w/m/y value="Day"> Day
        <input type="radio" name="d/w/m/y value="Week"> Week
        <input type="radio" name="d/w/m/y value="Month"> Month
        <input type="radio" name="d/w/m/y value="Year"> Year
    </center>


</body>
</html>